<h1>Bienvenue sur BestGNotation</h1>

<%= form_tag(search_page_path, :method => "get") do %>
  <%= search_field_tag :search, params[:search], placeholder: "Trouver un jeu" %>
  <%= select_tag 'type_search', options_for_select(['game', 'category', 'studio', 'platform']) %>
  <%= button_tag "Rechercher", name: nil %>
<% end %>

<ul>
  <% @games.each do |game| %>
    <div>
      <li><%= link_to game.name, game_path(game) %></li>
    </div>
  <% end %>
</ul>

<%= link_to 'Vers votre profil', dashboard_page_path() %>
