<h1><%= @game.name %> - <%= @game.platform.platformName %></h1>
<h2><%= @game.studio.nameStudio %></h2>

<p><%= @game.category.categoryName %></p>
<p><%= @game.description %></p>
<p><%= @game.note %></p>
<p><%= @game.datePublished %></p>

<%= link_to "Retour à la liste des jeux", games_path %>

<% if policy(@game).edit? %>
  <%= link_to "Editer le jeu", edit_game_path(@game) %>
  <%= link_to "Supprimer #{@game.name}", game_path(@game), method: :delete %>
<% end %>
