<h1><%= @game.name %> - <%= @game.platform.platformName %></h1>
<h2><%= @game.studio.nameStudio %></h2>
<div>
<div style="display:inline-block;"> 
<%= cl_image_tag @game.photo.key, :width => 400, :height => 600 if @game.photo.attached? %>
</div>

<div style="display:inline-block;vertical-align:top;">
<p><b>Type : </b><%= @game.category.categoryName %></p>

<p><b>Description :</b><br/>
   <%= @game.description %></p>

<p><b>Note du jeu : </b>
<% if @game.note?  %>
  <%= @game.note %>
<% else %>
  Pas encore noté.
<% end %>
</p>
<p><b>Date de publication : </b> <%= @game.datePublished %></p>

<%= link_to "Retour à la liste des jeux", games_path %>

<% if policy(@game).edit? %>
  <%= link_to "Modifier", edit_game_path(@game) %>
  <%= link_to "Supprimer", game_path(@game), method: :delete %>
<% end %>

<h2>Reviews</h2>
<%= link_to "Laissez un avis", new_game_review_path(@game) %>
<ul>
  <% @game.reviews.each do |review| %>
    <li><%= review.noteReview %> - <%= review.description %>
      <% if policy(review).edit? %>
        <%= link_to "Modifier", edit_game_review_path(@game, review.id) %>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
</div>
