<h1><%= @review.noteReview %> - <%= @review.game.name %></h1>

<p><%= @review.description %></p>

<%= link_to "Retour à la liste des reviews", game_reviews(game) %>
<%= link_to "Retour au jeu de la review", game_path(review.game) %>

<% if policy(@review).edit? %>
  <%= link_to "Editer la review", edit_review_path(@review) %>
  <%= link_to "Supprimer #{@review.noteReview}", review_path(@review), method: :delete %>
<% end %>
